@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grad-a: #FF6F61;
  --grad-b: #00B3FF;
}

.grad-anim {
  background-image: linear-gradient(90deg, var(--grad-a), var(--grad-b));
  background-size: 200% 200%;
  animation: gradientShift 9s ease-in-out infinite alternate;
}

.grad-anim-slow {
  background-image: linear-gradient(90deg, var(--grad-a), var(--grad-b));
  background-size: 200% 200%;
  animation: gradientShift 20s ease-in-out infinite alternate;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
